body {
  margin: 0;
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr;
  color: white;
}

.controls {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  background-color: rgb(43, 43, 43);
}

.slider-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem;
}

input[type="range"] {
  width: 200px;
}

p {
  margin: 0.5rem;
  text-align: center;
}

.materials-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

select {
  width: 8rem;
}
